.container {
  max-width: 600px;
}

.row {
  margin-left: 20px;
  padding-bottom: 20px;
}

.form-control {
  margin-top: 2px;
  width: 100px;
}

.btn {
  margin-top: 4px;
}

h1, h2, h3, h4, h5 {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  /* text-shadow: 0 3px 0 rgba(0,0,0,0.1); */
}

#date {
  color: #D3D3D3;
  font-weight:bold;
  font-family: 'Roboto Mono', monospace;
}
